.display-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.display-flex {
    display: flex;

}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.nav {
    height: 50px;
    position: fixed;
    width: 100%;
    border-radius: 7px;
    top: 0;
    background-color: #39a9cb;
}
nav {
    justify-content: space-between;
}
.logo {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 14px 0;
}
.slider {
    height: 100vh;
}
.slider-h2 {
    font-size: 2rem;
    font-weight: 800;

}
.slider-h1{
    font-size: 2rem;

}
